<ion-content class="calculator-content">
  <div class="calculator-container">
    <h1 class="title">Calculadora de IMC</h1>
    
    <div class="form-container">
      <div class="input-group">
        <label class="input-label">Peso (en kg)</label>
        <input
          type="number"
          [(ngModel)]="weight"
          placeholder="80"
          inputmode="numeric"
          class="form-input" />
      </div>

      <div class="input-group">
        <label class="input-label">Altura (en cm)</label>
        <input
          type="number"
          [(ngModel)]="height"
          placeholder="180"
          inputmode="numeric"
          class="form-input" />
      </div>

      <ion-button
        expand="block"
        class="calculate-button"
        style="text-align: center;"
        (click)="calculateBMI()">
        <span style="width: 100%; text-align: center; display: block;">Calcular IMC</span>
      </ion-button>
    </div>
  </div>
</ion-content>