<ion-content class="onboarding-content">
  <div class="onboarding-container">
    <h1 class="title">Calculadora de IMC</h1>
    
    <div class="info-section">
      <h2 class="info-title">¿Qué es el IMC?</h2>
      <p class="info-text">
        El Índice de masa corporal (IMC) sirve para medir la relación entre el peso y la estatura para identificar el sobrepeso y la obesidad en adultos.
      </p>
    </div>

    <ion-button
      expand="block"
      class="continue-button"
      style="text-align: center;"
      (click)="goToCalculator()">
      <span style="width: 100%; text-align: center; display: block;">Entendido</span>
    </ion-button>
  </div>
</ion-content>
